.Info{
    display: flex;
    flex-direction: column;
}
.Sokka{
    margin-top: 240px;
    display: flex;
    flex-direction: row;
}
.SokkaInfo{
    margin-left: 125px;
    display: flex;
    flex-direction: column;
}
.SokkaInfo h1{
    text-decoration: underline;
}
.SokkaPic{
    margin-left: 290px;
    height: 300px;
    border: 1px solid black;
}
.Momo{
    margin-top: 70px;
    display: flex;
    flex-direction: row-reverse;
}
.MomoPic{
    margin-right: 190px;
    height: 300px;
    border: 1px solid black;
}
.MomoInfo{
    display: flex;
    flex-direction: column;
}
.MomoInfo h1{
    margin-right: 500px;
    text-decoration: underline;
}
.Mushroom{
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}
.MushroomPic{
    margin-left: 310px;
    height: 300px;
    border: 1px solid black;
}
.SiWongDesertInfo{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}
.SiWongDesertInfo h1{
    text-decoration: underline;
}